[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
pillow = "*"
boto3 = "*"
requests = "*"
schedule = "*"
python-dotenv = "*"
loguru = "*"
notifiers = "*"
extcolors = "*"
scipy = "*"
webcolors = "*"
spacy = "*"
pytextrank = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
