POSTGRES_USER=user
POSTGRES_PW=password
POSTGRES_DB=database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSL=disable
POSTGRES_DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PW}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSL}

REDIS_USER=
REDIS_PASSWORD=password
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

WEAVIATE_HOST=weaviate:8080
WEAVIATE_SCHEME=http
WEAVIATE_METRICS_PORT=9092
WEAVIATE_ENCODE_ENABLE_CUDA=0
WEAVIATE_BACKUP_S3_BUCKET=bucket
WEAVIATE_BACKUP_S3_PATH=path
WEAVIATE_BACKUP_S3_ENDPOINT=endpoint
WEAVIATE_AWS_ACCESS_KEY_ID=id
WEAVIATE_AWS_SECRET_ACCESS_KEY=secret
WEAVIATE_AWS_REGION=region

ANALOGDB_APP_NAME=analogdb
ANALOGDB_APP_VERSION=0.1.0
ANALOGDB_APP_ENV=prod
ANALOGDB_HTTP_PORT=8080
ANALOGDB_LOG_LEVEL=info
ANALOGDB_WEBHOOK_URL="https://hooks.slack.com"
# one pair per caller, each password from `openssl rand -base64 32`
ANALOGDB_AUTH_ADMIN_USERNAME=admin
ANALOGDB_AUTH_ADMIN_PASSWORD=
ANALOGDB_AUTH_SCRAPER_USERNAME=scraper
ANALOGDB_AUTH_SCRAPER_PASSWORD=
ANALOGDB_AUTH_WEB_USERNAME=web
ANALOGDB_AUTH_WEB_PASSWORD=
# all web requests together per minute, 0 turns the cap off
ANALOGDB_RATE_LIMIT_WEB_PER_MINUTE=10000
# legacy, AUTH_* acts as admin and RATE_LIMIT_AUTH_* as web until removed
ANALOGDB_AUTH_USERNAME=
ANALOGDB_AUTH_PASSWORD=
ANALOGDB_RATE_LIMIT_AUTH_USERNAME=
ANALOGDB_RATE_LIMIT_AUTH_PASSWORD=
ANALOGDB_METRICS_PORT=9090
ANALOGDB_CACHE_ENABLED=true
