
.sectionOne {
  padding-top: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 7rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionTwo {
  padding-top: 8rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 8rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  margin: -1rem
}

.sectionThree {
  padding-top: 16rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 16rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  margin: -1rem
}

 .title {
  font-size: 3.2rem;
  color: #2e2e2e;
  font-weight: 600;
 }

 .subtitle {
  font-size: 1.2rem;
  color: #2e2e2e;
  font-weight: 400;
  max-width: 70%;
  margin-bottom: 2rem;
 }

 /* .subSection {
  background-color: #f8f7f7;
  padding:2rem;
  border-radius: 0.3rem;
  box-shadow: 5px 3px 2px 1px rgba(0, 0, 0, 0.05);
  width: 45%;
 } */

 .link {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  background-color: #2e2e2e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
 }

 .imageOne {
  max-width: 40%;
 }

 .imageTwo {
  max-width: 600px;
  width: 100%;
  padding-right: 10vw;
 }

 .imageTwoBorder {
  border-radius: 0.3rem;
  overflow: hidden;
 }

 .imageThree {
  width: 40%;
  max-width: 500px;
  padding-right: 10%;
 }

 .grid {
  max-width: 50%;
  max-height: 60%;
 }
