.title {
  font-size: 3rem;
  color: #2e2e2e;
  font-weight: 600;
}

.subtitle {
  font-size: 1.2rem;
  color: #2e2e2e;
  font-weight: 400;
  max-width: 20rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.sectionOne {
  padding-top: 8rem;
  padding-bottom: 8rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.sectionTwoBg {
  background-color: #fbfbfb;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionTwo {
  padding-top: 3rem;
  padding-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
}

.sectionThreeBg {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionThree {
  padding-top: 8rem;
  padding-bottom: 8rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  max-width: 900px;
}

.link {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  background-color: #2e2e2e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
}

.stats {
  display: flex;
  flex-direction: row;
}

.statRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}

.statCol {
  display: flex;
  flex-direction: column;
}

.statIcon {
  margin: 0.5rem;
}

.statNum {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.statTitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  margin-top: -0.25rem;
  color: gray;
}

.apiDemoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apiDemo {
  margin-top: 1rem;
  max-width: 600px;
  width: 100%;
  margin-right: 5vw;
  box-shadow: 0px 1px 10px 0.1px #dbdbdb;
}

.imageTwoBorder {
  border-radius: 0.3rem;
  overflow: hidden;
}

.imageThree {
  width: 40%;
  max-width: 300px;
}

.grid {
  max-width: 50%;
  max-height: 60%;
}
