.colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.colorButton {
  margin: 0.2rem;
}

/* .grow { transition: all .2s ease-in-out; } */
.colorButton:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 720px) {
  .container {
    text-align: left;
  }
}
