.fullscreen {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: left;
  color: #2e2e2e;
}

.imageContainer {
  width: 90%;
  height: 90%;
  position: relative;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  max-width: 1268px;
  max-height: 1268px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin-top: 1rem;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70vw;
}
