.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.containerMetadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  max-width: 900px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.containerSub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.containerAuthor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: gray;
  font-weight: 400;
  font-family: "Courier Prime", Courier, monospace;
}

.containerColors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.colorSquare {
  min-width: 3rem;
  min-height: 3rem;
  width: 10vw;
  height: 10vw;
  max-width: 4rem;
  max-height: 4rem;
  margin: 0.3rem;
  box-shadow: 1px 1px 8px lightgray;
}

.colorSquare:hover {
  box-shadow: 2px 2px 16px lightgray;
  transform: scale(1.035);
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Courier Prime", Courier, monospace;
}
.title:hover {
  text-decoration: underline;
}

.author {
  font-size: 1rem;
  color: gray;
  margin-bottom: 0.3rem;
}
.author:hover {
  text-decoration: underline;
}

.id {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
}
.id:hover {
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .colorSquare {
    margin: 0.15rem;
  }
}
