.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.containerMetadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  max-width: 800px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.containerSub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3rem;
}

.containerAuthor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: gray;
  font-weight: 400;
  font-family: "Courier Prime", Courier, monospace;
}

.containerColorsAndKeywords {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.containerColors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.colorSquare {
  min-width: 3rem;
  min-height: 3rem;
  width: 10vw;
  height: 10vw;
  max-width: 4rem;
  max-height: 4rem;
  margin: 0.3rem;
  box-shadow: 1px 1px 8px lightgray;
}

.colorSquare:hover {
  box-shadow: 2px 2px 16px lightgray;
  transform: scale(1.035);
}

.containerKeywords {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  height: 100%;
  margin-top: 2rem;
  max-width: 25rem;
  /* max-width: 80vw; */
}

.keyword {
  max-width: 20rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border: solid;
  border-color: lightgray;
  border-width: 1.5px;
  border-radius: 11px;
  color: #636363;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.1rem;
  padding-bottom: 0.15rem;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #f5f5f5;
  /* box-shadow: 0.5px 0.5px 20px 0.5px lightgray; */
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Courier Prime", Courier, monospace;
}
.title:hover {
  text-decoration: underline;
}

.author {
  font-size: 1rem;
  color: gray;
  margin-bottom: 0.3rem;
}
.author:hover {
  text-decoration: underline;
}

.id {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
}
.id:hover {
  text-decoration: underline;
}

.similar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similarTitle {
  margin-top: 5rem;
  margin-left: 3rem;
  max-width: 800px;
  width: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 800px;
}

.similarContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1200px;
}

.similarImage {
  overflow: hidden;
  width: 290px;
  height: 290px;
  position: relative;
  margin: 5px;
}

@media screen and (max-width: 900px) {
  .colorSquare {
    margin: 0.15rem;
  }
  .containerSub {
    flex-direction: column;
    align-items: flex-start;
  }

  .containerColorsAndKeywords {
    align-items: flex-start;
  }

  .containerColors {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .similarImage {
    width: 176px;
    height: 176px;
    margin: 2px;
  }
}
