.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.containerMetadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  max-width: 900px;
}

.containerAuthor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  color: gray;
  font-weight: 400;
  font-family: "Courier Prime", Courier, monospace;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Courier Prime", Courier, monospace;
}
.title:hover {
  text-decoration: underline;
}

.author {
  font-size: 1rem;
  color: gray;
  margin-bottom: 0.3rem;
}
.author:hover {
  text-decoration: underline;
}

.id {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
}
.id:hover {
  text-decoration: underline;
}
