.loading {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.end {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  font-weight: 400;
}

.noResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  height: 65vh;
}

.noResults {
  font-weight: 400;
}

.dimmed {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.placeholderLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.skeletonContainer {
  padding: 1rem;
}

.skeletonGrid {
  column-count: 4;
  column-gap: 15px;
}

.skeletonTile {
  break-inside: avoid;
  margin-bottom: 15px;
}

@media (max-width: 1440px) {
  .skeletonGrid {
    column-count: 3;
  }
}

@media (max-width: 720px) {
  .skeletonGrid {
    column-count: 2;
  }
}
