.modal {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .imageContainer {
     width: 90%;
     height: 90%;
     /* height: auto; */
     position: relative;
     margin-bottom: 1rem;
     max-width: 1268px;
     max-height: 1268px;
 }

@media screen and (max-width: 720px) {
    .modal {
        justify-content: flex-start;
        padding-top: 2rem;
    }
    .imageContainer {
        margin-top: 0rem;
        height: 75%;
    }
}