.visible {
  display: absolute;
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  transition: transform 250ms;
  z-index: 5;
}
.visible:hover {
  transform: translateY(-10px);
}
.hidden {
  display: none;
}
@media screen and (max-width: 720px) {
  .visible {
    display: none;
  }
}
