.container {
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.loading {
  padding-top: 3rem;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .container {
    text-align: left;
  }
}

